@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Resetting default browser styles */
body, h1, h2, p, button, input {
  margin: 0;
  padding: 0;
  font-family:"Titillium Web", sans-serif;
  color: #fff;
  font-size: 16px;
}

/* Global styles */
body {
  background: radial-gradient(circle at center, #FF9398 , #2779a7);
  
}

header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  align-content: center;
}


#Title {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e0578;
  font-size: 80px;
  font-size: 5rem; /* Set font size using rem units */
  margin: 0;
}

#mainButtons {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.pageButton {
  width: 40%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 10px 20px;
  border: 3px solid #A0153E ;
  border-radius: 5px;
  cursor: pointer;
  font-size:1.5rem;
}

.pageButton:hover{
  transform:scale(1.2);
  background-color: #A0153E;
  color: #222;
  transition: all 0.1s;
}

#task-contanier {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  height:15rem;
}

#newtask-container
{
  margin-bottom: 10px;
  height: 50%;
  width: 90%;
  display: flex;
  align-content: center;
}

#addtask-container {
  margin-bottom: 15px;
  height: 50%;
  width: 90%;
}

#manualtask{
  display: flex;
  margin-top: 10px;
  height: 50%;
  justify-content:space-between;
  align-content: center;
  align-items: center;
}

#manualtaskTitle{
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
  height: 70%;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
  border: 1px solid #A0153E;
}

#FromTime,#ToTime,#date{
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 15%;
  height: 70%;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
  border: 1px solid #A0153E;
}

#taskTitle{
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 1px solid #A0153E;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  height: 70%;
  font-size: 2.5rem;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}

#manualtask p{
 
  font-size: 4rem;
  margin-right: 5px;

}

#startButton
{
  background-color: #A0153E;
  color: #ffffff;
  border: none ;
  border-radius: 10px;
  cursor: pointer;
  width: 20%;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

#addtaskButton{
  background-color: #202c97;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 20%;
  height: 50% ;
  font-size: 1.5rem;
  font-weight: 400;
  
}

#addButton{
  background-color: #202c97;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 10%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 400;
}


#startButton:hover,
#stopButton:hover,
#deleteButton:hover {
  background-color: #df1e58;
  transform: scale(1.025);
  transition: all 0.1s;
}

#addtaskButton:hover,
#addButton:hover{
  background-color: #3041e0;
  transform: scale(1.025);
  transition: all 0.1s;
}


section {
  padding: 15px;
}


#InProgresTab h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

#InProgresTab h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: left;
}

#center-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#SectionHeader{
  color: #260894;
  text-align: center;
  font-size: 2rem;
  margin:0.5rem 0;
}

#inProgressTask {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  border-radius: 10px;
  width: 89%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
}

#taskDetails-Container {
  display: flex;
  width:70%;
  align-items: center;
}

#taskDetails {
  flex: 1;
}

#progress-taskTitle{
  color: #ffffff;
  font-size: 1.5rem;
}

#StartTime-container{
  display: flex;
}


#ElapsedTime-Container {
  margin-left: auto;
}


#stopButton {
  height: 7rem;
  width: 18%;
  background-color: #A0153E;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 10px 20px;
  margin-right:30px;
  transition: background-color 0.3s;
}

#stopButton:hover {
  background-color: #df1e58;
}


hr{
  width: 90%;
  height: 0.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
}



#CompletedTab h2 {
  margin-bottom: 10px;
  text-align: left;
}


#tasks {
  width: 89.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eachTask {
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(89, 88, 88, 0.35) 0px 5px 25px;
  border: 2px solid #A0153E;
}


#taskDetails {
  flex: 1;
}

#TotalTime {
  color: #fff;
  font-size: 2rem;
  margin-left: 10px;
}

#dateTime-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

#date,
#StartTime,
#EndTime {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 10px;
}

#deleteButton {
  height: 5rem;
  width: 15%;
  background-color: #A0153E;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

#deleteButton:hover {
  background-color: #df1e58;
}
